<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>0722</display-name>
	<servlet>
		<servlet-name>helloServlet</servlet-name>
		<servlet-class>test.ServletTest</servlet-class>
		
	</servlet>
	<servlet-mapping>
		<servlet-name>helloServlet</servlet-name>
		<url-pattern>/world</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ResponseServlet</servlet-name>
		<servlet-class>test.ResponseServlet</servlet-class>
		
	</servlet>
	<servlet-mapping>
		<servlet-name>ResponseServlet</servlet-name>
		<url-pattern>/Response</url-pattern>
	</servlet-mapping>
	

</web-app>