<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>0724</display-name>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/webshop/exceptionNoPage.jsp</location>
  </error-page>
  
  <filter>
  	<filter-name>LogFilter</filter-name>
  	<filter-class>webshop.filter.LogFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LogFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>LogFileFilter</filter-name>
  	<filter-class>webshop.filter.LogFileFilter</filter-class>
  	<init-param>
  		<param-name>filename</param-name>
  		<param-value>c:\\logs\\webshop.log</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>LogFileFilter</filter-name>
  	<url-pattern>/addProduct.jsp</url-pattern>
  	<url-pattern>/editProduct.jsp</url-pattern>
  </filter-mapping>

</web-app>